<style>

.fact {
  color: green;
  font-size: 20px;
}

div {
  border-style: solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: max-content;
  background-color: lightpink;
  font-family: sans-serif;
}

button {
  background-color: lightblue;
  color: white;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 20px;

}







</style>
<div>
  <h1>Random and Useless Facts!</h1>
  <p>Want to know something you would have never asked about? Find out here!</p>


  <a href="/process_fact"><button action="/process_fact" method="get">Request a Useless Fact!</button></a>
</div>
